certifi==2024.8.30
    # via requests
charset-normalizer==3.4.0
    # via requests
decorator==5.1.1
    # via dogpile-cache
dogpile-cache==1.3.3
    # via crabpy (pyproject.toml)
idna==3.10
    # via requests
pbr==6.1.0
    # via stevedore
requests==2.32.3
    # via crabpy (pyproject.toml)
stevedore==5.3.0
    # via dogpile-cache
suds-py3==1.4.5.0
    # via crabpy (pyproject.toml)
urllib3==2.2.3
    # via requests
